@import 'variables';
@import 'header';
@import 'hero';
@import 'about';
@import 'treatments';
@import 'footer';
@import 'customers';
@import 'experience';
@import 'packages';
@import 'booking';
@import 'confirmation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  color: $color-text-dark;
  scroll-behavior: smooth;
}

// Global resets and common styles
h1, h2, h3 {
  font-family: $font-secondary;
}

img {
  max-width: 100%;
  height: auto;
}